<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ASPNETConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TechSupportConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TechSupport.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <authentication mode="Forms" />
      <roleManager enabled="true" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
<customErrors defaultRedirect="Error/Error.aspx" mode="RemoteOnly">
    <error statusCode="404" redirect="Error/Error.aspx" />
    <error statusCode="500" redirect="Error/Error.aspx" />
    <error statusCode="503" redirect="Error/Error.aspx" />
</customErrors>  
    
    </system.web>
  
    
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode"  value="None"/>
  </appSettings>

</configuration>
